@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1f2732;
  color: #ecf2f8;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../src/ui/assets/font/Montserrat-VariableFont_wght.ttf) format("ttf");
}